@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", serif;
  font-size: 16px;
}
body {
  background-color: rgb(230, 212, 212);
  color: black;
}

/* Header */
header {
  background-color: rgb(255, 115, 0);
}
section {
  margin-bottom: 5rem;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left .logo {
  img {
    max-width: 220px;
    object-fit: cover;
  }
}
.header-center > ul {
  display: flex;
  gap: 2rem;
  li {
    list-style-type: none;
    padding: 0.5rem 0;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      position: absolute;
      background-color: black;
      transform: scaleX(0);
      transition: all 0.3s;
    }
    &:hover::after {
      transform: scaleX(1);
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
  }
}
.header-right {
  display: flex;
  align-items: center;
  gap: 3rem;

      .cart-menu{
      background-color: white;
      display: none;
      flex-direction: column;
      gap: 0.75rem;
      justify-content: center;
      padding: 1rem 0.75rem;
      min-width: 400px;
      min-height: 200px;
      position: absolute;
      top: 200%;
      left: -150%;
      z-index: 100;
      transition: all 0.5s ease;

      li{
        background-color: rgb(232, 232, 232);
        padding: 0.5rem 0;
        list-style-type: none;
        display: flex;
        gap: 2rem;
        justify-content: center;
        .qty-group{
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
      }
    }
    .active{
      display: flex;
    }
  .icons,
  .account {
    display: flex;
    gap: 1rem;
    font-size: 1.15rem;
    position: relative;
  }

  .account button {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 0.5rem;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .account .btn-primary {
    background-color: rgb(24, 24, 24);
    color: white;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid rgb(24, 24, 24);
    }
  }
  .account .btn-outline {
    border: 1px solid rgb(24, 24, 24);

    &:hover {
      background-color: rgb(24, 24, 24);
      color: white;
      border: 1px solid rgb(24, 24, 24);
    }
  }
}

/* Hero Section */

.hero {
  background-image: url("../img/hero-bg.png");
  min-height: 85vh;
  position: relative;
  color: white;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.688);
    z-index: 1;
  }
  .container {
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 7rem;

    .hero-left {
      width: 50%;
      h1 {
        font-size: 4rem;
        line-height: 1.1;
        margin-bottom: 2rem;
        .colored {
          color: orange;
        }
      }
      p {
        display: inline-block;
        width: 80%;
        margin-bottom: 2rem;
        line-height: 1.75;
      }
      .hero-cta {
        display: flex;
        gap: 1rem;

        button {
          padding: 0.75rem 2rem;
          font-size: 1.15rem;
          font-weight: 500;
          cursor: pointer;
          border-radius: 0.25rem;
        }
        .btn-orange {
          background-color: orange;
          color: black;
          transition: all 0.4s ease;
          border: 2px solid orange;
          &:hover {
            background-color: white;
            border: 2px solid orange;
          }
        }
        .btn-orange-outline {
          background-color: wwhite;
          color: black;
          border: 2px solid orange;
          transition: all 0.4s ease;
          &:hover {
            background-color: orange;
            border: 2px solid white;
          }
        }
      }
    }
    .hero-right {
      width: 50%;

      img {
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 10px orange;
      }
    }
  }
}

/* Products Section */

.product-list {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  .card {
    width: 250px;

    background-color: orange;
    border-radius: 0.5rem;
    .photo {
      max-width: 250px;
      max-height: 150px;
      overflow: hidden;
      border-radius: 0.5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Number of lines to show */
        -webkit-box-orient: vertical;
        line-clamp: 2;
      }
      .price{
        display: flex;
        gap: 0.8rem;
        align-items: center;
        .original{
          text-decoration: line-through;
          color:gray;
          font-size: 0.75rem;
        }
        .discount{
          color: white;
          font-size: 1rem;
        }
      }
      .buy{
        padding: 0.75rem;
        border: none;
        border-radius: 1rem;
        margin-top: 0.5rem;
      }
    }
  }
}
